.noworkflow/
*.pyc
/capture/noworkflow/result.txt
/capture/noworkflow/result*.txt
capture/noworkflow/time.txt
capture/noworkflow/session.txt
/capture/noworkflow/ProvScript.py
new-*.py
session.txt
time.txt
/capture/noworkflow/results/
.idea/
record-time/
Task-results/
Task-time/
Task/