<!DOCTYPE html>
<html lang="en">
<head>
   <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
   <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
   <link href="https://www.w3schools.com/w3css/4/w3.css" rel="stylesheet">
   <title></title>

    <style>
        pre {
            outline: 2px dotted #ddd;
            min-height: 1.5em;
            font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
        }
        code {
            display:block;
        }

        [contenteditable] {
            outline: none;
        }
    </style>
    <link href="{{ url_for('static',filename='styles/prism.css') }}" rel="stylesheet" />
</head>
<body>

<script>
function saveEdits() {
   //get the editable element
   var editElem = document.getElementById("script").innerHTML;
   //save the content to local storage
   document.getElementById("submitNormal").value = editElem;
}
</script>
   <!-- Sidebar -->
   <div class="w3-sidebar w3-light-grey w3-bar-block" style="width:20%">
      <h3 class="w3-bar-item w3-light-blue w3-padding-16">Actions</h3>
      <form action="http://localhost:5000/normal" enctype="multipart/form-data" method="post"></form>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        <form action="/runnormal" method="post">
            <button class="w3-bar-item w3-button w3-grey w3-large w3-padding-8 w3-center" name="script" onclick="saveEdits()" id="submitNormal" type="submit" ><b>Run</b></button>
        </form>
        <br><br><br>
        <form action="/finish" method="post">
            <button class="w3-bar-item w3-button w3-grey w3-large w3-padding-8 w3-center" name="forwardBtn" type="submit"><b>Exit</b></button>
        </form>
   </div><!-- Page Content -->

    <script src="{{url_for('static', filename='js/prism.js') }}"></script>
    <script src="{{url_for('static', filename='js/misbehave.js') }}"></script>
   <div style="margin-left:20%">
      <div class="w3-container w3-teal">
          <h1>ProvBuild</h1>
      </div>
      <div class="container">
         <h1>Dashboard</h1>
         <h5>Current script file:</h5><code><b>{{user_file}}</b></code><br>
         <p style="color:red; font-size:x-large;"><b>{{message}}</b></p>
         <p>Results</p>
         <pre style="border: 2px solid #666; padding: 10px; background-color: #ccdfff;">{{ result }}</pre>
         <p>{{user_file}}</p>
         <!--<div contenteditable class="edittext" id="script" style="border: 2px solid #666; background-color: #f7de71; white-space: pre-wrap;">{{ content }}</div>-->
          <pre id="pre"><code id="script" class="language-python" contenteditable="true" autocorrect="off" autocapitalize="off" spellcheck="false">{{ content }}</code></pre>
          <br>
          <p>Terminal Output (for debugging) </p>
          <pre style="border: 2px solid #666; padding: 10px; background-color: #c0c3c6;">{{ output }}</pre>
         <br>
      </div>

       <script>
           var code = document.querySelector('#code')
           var misbehave = new Misbehave(code, {
               oninput : function() {
                   Prism.highlightElement(code)
               }
           })
           var pre = document.querySelector('#pre')
           pre.onclick = function() {
               code.focus()
               return false
           }
       </script>
      <footer class="footer" style="clear:both;">
          <br>
          <br>
         <p>&copy; 2017-2018 ProvBuild</p>
      </footer>
   </div>
</body>
</html>